{{- $set := include "dot_claude/settings.partial.json" | fromJson }}

{{- $enabled_plugins := dict }}
{{- range $id, $on := includeTemplate "plugins.json.tmpl" (merge (dict "lsps" true) .) | fromJson }}
{{- if $on }}{{- $_ := set $enabled_plugins $id true }}{{- end }}
{{- end }}
{{- $_ := set $set "enabledPlugins" $enabled_plugins }}

{{- includeTemplate "scripts/json-merge.py" (dict
  "indent" 2
  "override" (list (list "permissions" "allow") (list "permissions" "deny") (list "permissions" "ask"))
  "set" $set
  "sort" (list (list "enabledPlugins") (list "permissions" "allow") (list "permissions" "deny") (list "permissions" "ask"))) }}
