#!/bin/sh

set -- "$CHEZMOI_SOURCE_DIR/dot_vscode-server/data/Machine/settings.base.partial.json"
{{- if and (not (has "copilot" .agents)) (has "vscode" .ide) }}
set -- "$@" "$CHEZMOI_SOURCE_DIR/dot_vscode-server/data/Machine/settings.no-copilot.partial.json"
{{- end }}
{{- if and (has "copilot" .agents) (has "vscode" .ide) }}
set -- "$@" "$CHEZMOI_SOURCE_DIR/dot_vscode-server/data/Machine/settings.copilot.partial.json"
{{- end }}

# shallow merge (+ not *) so an object defined in a partial fully replaces the local one instead of merging keys into it
jq -s 'reduce .[] as $x ({}; . + $x)' - "$@"
