{{- $set := include "dot_vscode-server/data/Machine/settings.base.partial.json" | fromJson }}

{{- if and (not (has "copilot" .ai.runtimes)) (has "vscode" .ide) }}
{{- $_ := mergeOverwrite $set (include "dot_vscode-server/data/Machine/settings.no-copilot.partial.json" | fromJson) }}
{{- end }}

{{- if and (has "copilot" .ai.runtimes) (has "vscode" .ide) }}
{{- $_ := mergeOverwrite $set (include "dot_vscode-server/data/Machine/settings.copilot.partial.json" | fromJson) }}
{{- end }}

{{- includeTemplate "scripts/json-merge.py" (dict
  "indent" 4
  "override" (list (list "chat.tools.terminal.autoApprove") (list "chat.tools.urls.autoApprove"))
  "set" $set
  "sort" (list (list "chat.tools.terminal.autoApprove") (list "chat.tools.urls.autoApprove"))) }}
