# yaml-language-server: $schema=https://microsoft.github.io/apm/specs/schemas/manifest-v0.1.schema.json

name: {{ .user.username }}
version: 1.0.0

author: {{ .user.username }}
description: APM project for {{ .user.username }}

dependencies:
  apm:
    - anthropics/claude-plugins-official/plugins/code-simplifier
    - anthropics/claude-plugins-official/plugins/feature-dev
    - kilianpaquier/agent-rules
    - mattpocock/skills/skills/productivity/grill-me
    - mattpocock/skills/skills/productivity/grilling
    - vercel-labs/skills/skills/find-skills
  mcp: []

includes: auto
targets:
{{- range .ai.agents }}
  - {{ . }}
{{- end }}
