{{- $data := include ".chezmoidata/tools.yaml" | fromYaml }}

{{- $dev := false }}
{{- if ne .chezmoi.os "windows" }}
  {{- $dev = promptBoolOnce . "dev" "Is this a development machine (full tooling, git, etc.)" true }}
{{- end }}

{{- $profile := promptChoiceOnce . "profile" "Which profile should apply to this machine" $data.profiles }}

{{- $gaming := false }}
{{- if and (eq $profile "home") (eq .chezmoi.os "windows") }}
  {{- $gaming = promptBoolOnce . "gaming" "Is this a gaming machine" }}
{{- end }}

{{- $shell := "powershell" }}
{{- if ne .chezmoi.os "windows" }}
  {{- $shell = promptChoiceOnce . "shell" "Which shell will you be using" (list "bash" "zsh") "zsh" }}
{{- end }}

{{- $ide := promptMultichoiceOnce . "ide" "What IDE are you using to develop" (list "intellij" "vscode" "zed") (list "vscode") }}

{{- $ssh_generate := promptBoolOnce . "ssh.generate" "Would you like to generate an SSH key" true }}
{{- $machine_name := "" }}
{{- if $ssh_generate }}
  {{- $machine_name = promptStringOnce . "machine_name" "What is this machine's name" .chezmoi.hostname }}
{{- end }}

{{- $email := "" }}
{{- $username := "" }}
{{- if or $dev $ssh_generate }}
  {{- $username = promptStringOnce . "user.username" "What is your committer username" .chezmoi.username }}
  {{- $email = promptStringOnce . "user.email" "What is your committer email" }}
{{- end }}

{{- $managers := $data.managers }}

{{- $tools := dict }}
{{- $bundle_summary := list }}
{{- range $manager := $managers -}}
  {{- $_ := set $tools $manager (list) }}
  {{- $bundle_summary = append $bundle_summary (printf "%s: %s" $manager ((index $data.tools $manager) | join ", ")) }}
{{- end -}}

# available agent runtimes: {{ $data.agents | join ", " }}
# available agent plugins: {{ $data.plugins | join ", " }}
# available tools_management: {{ $managers | join ", " }}
# available tools per manager:
{{- range $bundle_summary }}
#   - {{ . }}
{{- end }}

{{- $agents := list }}
{{- $git_ssh := false }}
{{- $plugins := list }}
{{- $tools_management := list }}
{{- if $dev }}
  {{- $git_ssh = promptBoolOnce . "git.ssh" "Would you like to sign commits with your SSH key" true }}
  {{- $agents = promptMultichoiceOnce . "ai.agents" "Which AI agent(s) will you be using" $data.agents (index $data.default_agents $profile) }}

  {{- if gt (len $agents) 0 }}
    {{- $plugins = promptMultichoiceOnce . "ai.plugins" "Which agent plugin(s) would you like to install" $data.plugins (index $data.default_plugins $profile) }}
  {{- end }}

  {{- $_ := warnf "available tools per manager:\n  %s" ($bundle_summary | join "\n  ") }}

  {{- $tools_management = promptMultichoiceOnce . "tools_management" "Which tool manager(s) would you like to use" $managers (index $data.default_managers $profile) }}

  {{- range $manager := $tools_management }}
    {{- $_ := set $tools $manager (promptMultichoiceOnce $
        (print "tools." $manager)
        (print "Which tools would you like to install via " $manager)
        (index $data.tools $manager) (index $data.default_tools $profile)) }}
  {{- end }}
{{- end }}

umask: 0o22

data:
  ai:
    agents:{{ $agents | toYaml | trim | nindent 6 }}
    plugins:{{ $plugins | toYaml | trim | nindent 6 }}
  dev: {{ $dev }}
  gaming: {{ $gaming }}
  git:
    ssh: {{ $git_ssh }}
  ide:{{ $ide | toYaml | trim | nindent 4 }}
  machine_name: {{ $machine_name }}
  profile: {{ $profile }}
  shell: {{ $shell }}
  ssh:
    generate: {{ $ssh_generate }}
  tools:
{{- range $manager := $managers }}
    {{ $manager }}:{{ index $tools $manager | toYaml | trim | nindent 6 }}
{{- end }}
  tools_management:{{ $tools_management | toYaml | trim | nindent 4 }}
  user:
    email: {{ $email }}
    username: {{ $username }}
