# force remove side directories not chezmoi managed

{{- if not (has "claude" .ai.runtimes) }}
.cache/claude
.cache/claude-cli-nodejs
.local/share/claude
{{- end }}

{{- if not (has "codex" .ai.runtimes) }}
.cache/codex
{{- end }}

{{- if not (has "copilot" .ai.runtimes) }}
.cache/copilot
{{- end }}

{{- if eq (len .ai.runtimes) 0 }}
.cache/apm
{{- end }}

{{- if not (has "mise" .tools_management) }}
.cache/mise
.local/share/mise
.local/state/mise
{{- end }}

{{- if not (has "docker" .container.runtimes) }}
.config/docker
.docker
{{- end }}

{{- if not (has "podman" .container.runtimes) }}
.config/containers
{{- end }}

{{- if ne .shell "zsh" }}
.cache/zsh4humans
.zshenv
{{- end }}
