{{- if eq .chezmoi.os "windows" }}
**/*.sh
.config/environment.d
{{- else }}
.inputrc
**/*.ps1
{{- end }}

{{- if not .dev }}
.chezmoiscripts/*-tools.sh
{{- end }}

{{- range list "brew" "mise" "node" "uv" }}
{{- if not (has . $.tools_management) }}
.chezmoiscripts/*-{{ . }}.sh
{{- end }}
{{- end }}

{{- if not (has "mise" .tools_management) }}
.config/mise
{{- end }}

{{- if not .ssh.generate }}
.chezmoiscripts/*-ssh.sh
.chezmoiscripts/*-ssh.ps1
{{- end }}

{{- if .dev }}
.chezmoiscripts/*-computer.sh
.chezmoiscripts/*-computer.ps1
{{- else }}
.terraformrc
{{- end }}

{{- if eq (len .ai.agents) 0 }}
.apm
.chezmoiscripts/*-ai.sh
.config/rtk
{{- if not (or (has "destructive-command-guard" .tools.brew) (has "destructive-command-guard" .tools.mise)) }}
.config/dcg
{{- end }}

{{- if not (has "claude" .ai.agents) }}
.claude
{{- end }}

{{- if not (has "copilot" .ai.agents) }}
.copilot
{{- end }}

{{- if or (not .dev) (not (has "vscode" .ide)) }}
.vscode-server
{{- end }}

{{- if eq .chezmoi.os "windows" }}
.config/environment.d/bash.conf
.bash_aliases
.bash_logout
.bashenv
.bashrc
.profile
{{- end }}

{{- if ne .shell "zsh" }}
.env.zsh
.zlogout
.zprofile
.zshenv
.zshrc
{{- end }}

# partials
**/*.partial.*

# symlinks
symlinks

# generated
.zshenv
