[tools]
"github:sass/dart-sass" = "latest"
age = "latest"
cosign = "latest"
glab = "latest"
go = "latest"
golangci-lint = "latest"
helm = "latest"
helm-ct = "latest"
hugo-extended = "latest"
kubectl = "latest"
kustomize = "latest"
node = "latest"
opentofu = "latest"
shellcheck = "latest"
sops = "latest"
tflint = "latest"
uv = "latest"
