{
    "enabledPlugins": {{ includeTemplate "enabled-plugins.json.tmpl" (merge (dict "lsps" false) .) }},
    "extraKnownMarketplaces": {
        "mempalace": {
            "source": {
                "repo": "mempalace/mempalace",
                "source": "github"
            }
        },
        "one-for-all": {
            "source": {
                "repo": "kilianpaquier/ai-integration",
                "source": "github"
            }
        },
        "ponytail": {
            "source": {
                "repo": "DietrichGebert/ponytail",
                "source": "github"
            }
        }
    }
}
