{{- $set := include "dot_copilot/settings.partial.json" | fromJson }}

{{- $enabled_plugins := dict }}
{{- range $id, $on := includeTemplate "plugins.json.tmpl" (merge (dict "lsps" false) .) | fromJson }}
{{- if $on }}{{- $_ := set $enabled_plugins $id true }}{{- end }}
{{- end }}
{{- $_ := set $set "enabledPlugins" $enabled_plugins }}

{{- includeTemplate "scripts/json-merge.py" (dict
  "indent" 2
  "override" (list (list "allowedUrls") (list "deniedUrls"))
  "set" $set
  "sort" (list (list "enabledPlugins"))) }}
