#!/bin/sh

# shallow merge (+ not *) so an object defined in the partial fully replaces the local one instead of merging keys into it
jq -s --indent 2 '(.[0] // {}) + (.[1] // {})' - "$CHEZMOI_SOURCE_DIR/dot_copilot/settings.partial.json"
