#!/bin/sh

set -e

mise use -g age@latest cosign@latest node@24 sops@latest usage@latest

mise {{ has "bun" .tools.mise | ternary "use" "unuse" }} -g bun
mise {{ has "git-tools" .tools.mise | ternary "use" "unuse" }} -g gh glab pre-commit
mise {{ has "go" .tools.mise | ternary "use" "unuse" }} -g go golangci-lint
mise {{ has "hugo" .tools.mise | ternary "use" "unuse" }} -g hugo-extended dart-sass
mise {{ has "incus" .tools.mise | ternary "use" "unuse" }} -g incus
mise {{ has "java" .tools.mise | ternary "use" "unuse" }} -g java@lts
mise {{ has "just" .tools.mise | ternary "use" "unuse" }} -g just
{{- if has "java" .tools.mise }}
# no GitHub releases for jdtls, fake version pin to always refetch latest.tar.gz
mise use -g "http:jdtls[url=https://download.eclipse.org/jdtls/snapshots/jdt-language-server-latest.tar.gz]@0.0.0"
{{- else }}
mise unuse -g "http:jdtls"
{{- end }}
mise {{ has "k6" .tools.mise | ternary "use" "unuse" }} -g k6
mise {{ has "k8s" .tools.mise | ternary "use" "unuse" }} -g helm helm-ct krew kubectl kustomize
mise {{ has "kotlin" .tools.mise | ternary "use" "unuse" }} -g kotlin kotlin-lsp
mise {{ has "opentofu" .tools.mise | ternary "use" "unuse" }} -g opentofu tofu-ls
mise {{ has "shell" .tools.mise | ternary "use" "unuse" }} -g shellcheck
mise {{ has "task" .tools.mise | ternary "use" "unuse" }} -g task
mise {{ has "terraform" .tools.mise | ternary "use" "unuse" }} -g terraform terraform-ls
mise {{ or (has "terraform" .tools.mise) (has "opentofu" .tools.mise) | ternary "use" "unuse" }} -g tflint
mise {{ has "uv" .tools.mise | ternary "use" "unuse" }} -g uv
mise {{ has "codebase-memory-mcp" .tools.mise | ternary "use" "unuse" }} -g codebase-memory-mcp
mise {{ has "codegraph" .tools.mise | ternary "use" "unuse" }} -g codegraph
mise {{ has "rtk" .tools.mise | ternary "use" "unuse" }} -g rtk

if command -v npm >/dev/null 2>&1; then
  mise {{ has "shell" .tools.mise | ternary "use" "unuse" }} -g bash-language-server
  mise {{ has "context7" .tools.mise | ternary "use" "unuse" }} -g context7 context7-mcp
  mise {{ has "typescript" .tools.mise | ternary "use" "unuse" }} -g 'npm:typescript' 'npm:typescript-language-server'
else
  echo "'npm' is required for 'bash-language-server', 'context7', 'context7-mcp', 'typescript', 'typescript-language-server' entries in mise, install 'node' via 'brew' or 'mise' tools_management" >&2
fi

if command -v uv >/dev/null 2>&1 || command -v pipx >/dev/null 2>&1; then
  mise {{ has "graphify" .tools.mise | ternary "use" "unuse" }} -g 'pipx:graphifyy'
  mise {{ has "mempalace" .tools.mise | ternary "use" "unuse" }} -g mempalace
else
  echo "'uv' or 'pipx' is required for 'graphify', 'mempalace' entries in mise, install 'uv' via 'brew' or 'mise' tools_management" >&2
fi
