#!/bin/sh

set -e

if command -v apm >/dev/null 2>&1; then
  # apm update -g -y
  echo ""
fi

# renovate: datasource=pypi packageName=graphifyy
graphify_version=0.9.23
if command -v uv >/dev/null 2>&1; then
  uv tool install graphifyy@$graphify_version
fi

if command -v rtk >/dev/null 2>&1; then
  {{- if has "copilot" .agents }}
  rtk init -g --copilot --auto-patch
  {{- end }}
  {{- if has "claude" .agents }}
  rtk init -g --auto-patch
  {{- end }}
fi

# renovate: datasource=npm packageName=node-gyp
nodegyp_version=13.0.1
# renovate: datasource=npm packageName=cavemem
cavemem_version=0.2.1
if command -v bun >/dev/null 2>&1; then
  bun add -g node-gyp@$nodegyp_version cavemem@$cavemem_version
elif command -v pnpm >/dev/null 2>&1; then
  pnpm add -g node-gyp@$nodegyp_version cavemem@$cavemem_version
elif command -v yarn >/dev/null 2>&1; then
  yarn global add node-gyp@$nodegyp_version cavemem@$cavemem_version
elif command -v npm >/dev/null 2>&1; then
  npm install -g node-gyp@$nodegyp_version cavemem@$cavemem_version
fi
