#!/bin/sh

set -e

if command -v rtk >/dev/null 2>&1; then
  {{- if has "claude" .agents }}
  rtk init -g --auto-patch
  {{- end }}
  {{- if has "copilot" .agents }}
  rtk init -g --copilot --auto-patch
  {{- end }}
fi

if ! command -v cavemem >/dev/null 2>&1; then
  if command -v bun >/dev/null 2>&1; then
    bun add -g node-gyp cavemem
  elif command -v pnpm >/dev/null 2>&1; then
    pnpm add -g node-gyp cavemem
  elif command -v npm >/dev/null 2>&1; then
    npm install -g node-gyp cavemem
  fi
fi

if command -v cavemem >/dev/null 2>&1; then
  cavemem install --ide claude-code # copilot doesn't seem to be a valid option
fi
