#!/bin/sh

set -e

{{- if gt (len .ai.agents) 0 }}

if ! command -v apm >/dev/null 2>&1; then
  curl -sSL https://aka.ms/apm-unix | APM_INSTALL_DIR=$HOME/.local/bin sh
fi
{{- else }}

if command -v apm >/dev/null 2>&1; then
  rm -f "$(command -v apm)"
  rm -rf "$HOME/.apm"
  rm -rf "$HOME/.cache/apm"
  rm -rf "$HOME/.local/lib/apm"
fi
{{- end }}

{{- if has "brew" .tools_management }}

if ! command -v brew >/dev/null 2>&1; then
  curl -fSL https://raw.githubusercontent.com/Homebrew/install/main/install.sh | bash
fi
{{- else }}

if command -v brew >/dev/null 2>&1; then
  curl -fSL https://raw.githubusercontent.com/Homebrew/install/main/uninstall.sh | bash
fi
{{- end }}

{{- if has "claude" .ai.agents }}

if ! command -v claude >/dev/null 2>&1; then
  curl -fSL https://claude.ai/install.sh | bash
fi
{{- else }}

if command -v claude >/dev/null 2>&1; then
  rm -f "$(command -v claude)"
  rm -rf "$HOME/.cache/claude-cli-nodejs"
  rm -rf "$HOME/.cache/claude"
  rm -rf "$HOME/.claude"
  rm -rf "$HOME/.local/share/claude"
fi
{{- end }}

{{- if has "codex" .ai.agents }}

if ! command -v codex >/dev/null 2>&1; then
  curl -fsSL https://chatgpt.com/codex/install.sh | CODEX_NON_INTERACTIVE=1 sh
fi
{{- else }}

if command -v codex >/dev/null 2>&1; then
  rm -f "$(command -v codex)"
  rm -rf "$HOME/.cache/codex"
  rm -rf "$HOME/.codex"
fi
{{- end }}

{{- if has "copilot" .ai.agents }}

if ! command -v copilot >/dev/null 2>&1; then
  curl -fSL https://gh.io/copilot-install | PREFIX=$HOME/.local bash
fi
{{- else }}

if command -v copilot >/dev/null 2>&1; then
  rm -f "$(command -v copilot)"
  rm -rf "$HOME/.cache/copilot"
  rm -rf "$HOME/.copilot"
fi
{{- end }}

{{- if has "mise" .tools_management }}

if ! command -v mise >/dev/null 2>&1; then
  # renovate: datasource=github-tags packageName=jdx/mise depName=mise
  mise_version=v2026.7.13
  curl -fSL https://mise.run | MISE_VERSION=$mise_version MISE_INSTALL_PATH=$HOME/.local/bin/mise sh
fi
{{- else }}
mise implode -y || echo "mise not installed"
{{- end }}
