#!/bin/sh

set -e

{{- if eq (len .ai.agents) 0 }}

# force remove chezmoi-managed element (.chezmoiremove would skip it)
rm -rf "$HOME/.apm"
{{- end }}

{{- if not (has "brew" .tools_management) }}

if command -v brew >/dev/null 2>&1; then
  bash -c "$(curl -fSL https://raw.githubusercontent.com/Homebrew/install/main/uninstall.sh)" -- --force
fi
{{- end }}

{{- if not (has "mise" .tools_management) }}

if command -v mise >/dev/null 2>&1; then
  mise implode -y
fi
{{- end }}
