#!/bin/sh

set -e

{{- if eq .shell "bash" }}

if ! command -v bash >/dev/null 2>&1; then
  sudo apt update
  sudo apt -y install bash
fi
{{- end }}

{{- if eq .shell "zsh" }}

if ! command -v zsh >/dev/null 2>&1; then
  sudo apt update
  sudo apt -y install zsh
fi

if [ ! -d "$HOME/.cache/zsh4humans/v5" ]; then
  sh -c "$(curl -fSL https://raw.githubusercontent.com/romkatv/zsh4humans/v5/install)"
fi
{{- end }}
