#!/bin/sh

set -e

for requirement in node npm corepack; do
  if ! command -v $requirement >/dev/null 2>&1; then
    echo "'$requirement' requires 'brew' or 'mise' as tools_management to be installed and used to install other tools" >&2
    exit 1
  fi
done

corepack {{ has "pnpm" .tools.node | ternary "enable" "disable" }} pnpm
corepack {{ has "yarn" .tools.node | ternary "enable" "disable" }} yarn

{{- if has "bun" .tools.node }}

# renovate: datasource=npm packageName=bun
bun_version=1.3.14
npm install -g bun@$bun_version
{{- else }}
npm uninstall -g bun
{{- end }}

{{- if has "cavemem" .tools.node }}

# renovate: datasource=npm packageName=node-gyp
nodegyp_version=13.0.1
# renovate: datasource=npm packageName=cavemem
cavemem_version=0.2.1
npm install -g node-gyp@$nodegyp_version cavemem@$cavemem_version
{{- else }}
npm uninstall -g node-gyp cavemem
{{- end }}

{{- if has "context7" .tools.node }}

# renovate: datasource=npm packageName=ctx7
context7_version=0.5.8
# renovate: datasource=npm packageName=@upstash/context7-mcp
context7mcp_version=4.0.3
npm install -g ctx7@$context7_version @upstash/context7-mcp@$context7mcp_version
{{- else }}
npm uninstall -g ctx7 @upstash/context7-mcp
{{- end }}

{{- if has "gitlab-ci-local" .tools.node }}

# renovate: datasource=npm packageName=gitlab-ci-local
gitlabcilocal_version=4.75.1
npm install -g gitlab-ci-local@$gitlabcilocal_version
{{- else }}
npm uninstall -g gitlab-ci-local
{{- end }}

{{- if has "task" .tools.node }}

# renovate: datasource=npm packageName=@go-task/cli
task_version=3.52.0
npm install -g @go-task/cli@$task_version
{{- else }}
npm uninstall -g @go-task/cli
{{- end }}

{{- if has "typescript" .tools.node }}

# renovate: datasource=npm packageName=typescript
typescript_version=7.0.2
# renovate: datasource=npm packageName=typescript-language-server
typescriptls_version=5.3.0
npm install -g typescript@$typescript_version typescript-language-server@$typescriptls_version
{{- else }}
npm uninstall -g typescript typescript-language-server
{{- end }}
