$key = "$env:USERPROFILE\.ssh\id_ed25519"
if (Test-Path $key) {
  echo "SSH key already exists, not generating..."
} else {
  ssh-keygen -t ed25519 -C "{{ .user.username }}@{{ .machine_name }}" -f $key
  cat "$key.pub"
}
