#!/bin/sh

set -e

{{- $uv := or (has "uv" .tools.mise) (has "uv" .tools.brew) }}

mise use -g age@latest cosign@latest node@24 sops@latest usage@latest

mise {{ has "bun" .tools.mise | ternary "use" "unuse" }} -g bun
mise {{ has "git-tools" .tools.mise | ternary "use" "unuse" }} -g gh glab pre-commit
mise {{ has "gitlab-ci-local" .tools.mise | ternary "use" "unuse" }} -g gitlab-ci-local
mise {{ has "go" .tools.mise | ternary "use" "unuse" }} -g go golangci-lint
mise {{ has "hugo" .tools.mise | ternary "use" "unuse" }} -g hugo-extended dart-sass
mise {{ has "incus" .tools.mise | ternary "use" "unuse" }} -g incus
mise {{ has "java" .tools.mise | ternary "use" "unuse" }} -g java@lts
mise {{ has "just" .tools.mise | ternary "use" "unuse" }} -g just
{{- if has "java" .tools.mise }}
# no GitHub releases for jdtls, fake version pin to always refetch latest.tar.gz
mise use -g "http:jdtls[url=https://download.eclipse.org/jdtls/snapshots/jdt-language-server-latest.tar.gz]@0.0.0"
{{- else }}
mise unuse -g "http:jdtls"
{{- end }}
mise {{ has "k6" .tools.mise | ternary "use" "unuse" }} -g k6
mise {{ has "k8s" .tools.mise | ternary "use" "unuse" }} -g helm helm-ct krew kubectl kustomize
mise {{ has "kotlin" .tools.mise | ternary "use" "unuse" }} -g kotlin kotlin-lsp
mise {{ has "opentofu" .tools.mise | ternary "use" "unuse" }} -g opentofu tofu-ls
mise {{ has "shell" .tools.mise | ternary "use" "unuse" }} -g shellcheck
mise {{ has "task" .tools.mise | ternary "use" "unuse" }} -g task
mise {{ has "terraform" .tools.mise | ternary "use" "unuse" }} -g terraform terraform-ls
mise {{ or (has "terraform" .tools.mise) (has "opentofu" .tools.mise) | ternary "use" "unuse" }} -g tflint
mise {{ has "uv" .tools.mise | ternary "use" "unuse" }} -g uv
mise {{ has "codebase-memory-mcp" .tools.mise | ternary "use" "unuse" }} -g codebase-memory-mcp
mise {{ has "codegraph" .tools.mise | ternary "use" "unuse" }} -g codegraph
mise {{ has "destructive-command-guard" .tools.mise | ternary "use" "unuse" }} -g destructive-command-guard
mise {{ has "rtk" .tools.mise | ternary "use" "unuse" }} -g rtk

mise {{ has "shell" .tools.mise | ternary "use" "unuse" }} -g bash-language-server
mise {{ has "context7" .tools.mise | ternary "use" "unuse" }} -g context7 context7-mcp
mise {{ has "typescript" .tools.mise | ternary "use" "unuse" }} -g 'npm:typescript' 'npm:typescript-language-server'

mise {{ and (has "graphify" .tools.mise) $uv | ternary "use" "unuse" }} -g 'pipx:graphifyy'
mise {{ and (has "mempalace" .tools.mise) $uv | ternary "use" "unuse" }} -g mempalace
{{- if and (not $uv) (or (has "graphify" .tools.mise) (has "mempalace" .tools.mise)) }}
echo "'uv' is required for 'graphify', 'mempalace' entries in mise, add 'uv' to the 'brew' or 'mise' tools" >&2
{{- end }}

mise upgrade -y
mise prune -y
mise reshim --force -y
