#!/bin/sh

set -e

{{- if gt (len .ai.agents) 0 }}
apm self-update
{{- end }}

{{- if has "brew" .tools_management }}
brew update
brew upgrade
{{- end }}

{{- if has "claude" .ai.agents }}
claude update
{{- end }}

{{- if has "codex" .ai.agents }}
curl -fsSL https://chatgpt.com/codex/install.sh | CODEX_NON_INTERACTIVE=1 sh
{{- end }}

{{- if has "copilot" .ai.agents }}
copilot update
{{- end }}

{{- if has "mise" .tools_management }}
mise self-update
mise upgrade
mise reshim --force
{{- end }}
