#!/bin/sh

set -e

{{- $mempalace := or (has "mempalace" .tools.mise) (has "mempalace" .tools.uv) }}

{{- if has "claude" .agents }}

{{- if $mempalace }}

claude plugin marketplace add mempalace/mempalace
claude plugin install mempalace@mempalace
{{- end }}

claude plugin marketplace add JuliusBrussee/caveman
claude plugin install caveman@caveman

claude plugin marketplace add DietrichGebert/ponytail
claude plugin install ponytail@ponytail
{{- end }}

{{- if has "copilot" .agents }}
{{- if $mempalace }}

copilot plugin marketplace add mempalace/mempalace || true
copilot plugin install mempalace@mempalace
{{- end }}

copilot plugin marketplace add JuliusBrussee/caveman || true
copilot plugin install caveman@caveman

copilot plugin marketplace add DietrichGebert/ponytail
copilot plugin install ponytail@ponytail
{{- end }}
