#!/bin/sh

set -e

{{- if has "rtk" .tools.brew }}
{{- if has "copilot" .agents }}
rtk init -g --copilot --auto-patch
{{- end }}
{{- if has "claude" .agents }}
rtk init -g --auto-patch
{{- end }}
{{- end }}

brew upgrade
