#!/bin/sh

set -e

{{- if or (has "rtk" .tools.mise) (has "rtk" .tools.brew) }}
if command -v rtk >/dev/null 2>&1; then
  rtk init -g {{ has "copilot" .ai.agents | ternary "" "--uninstall" }} --copilot --auto-patch
  rtk init -g {{ has "claude" .ai.agents | ternary "" "--uninstall" }} --auto-patch
  rtk init -g {{ has "codex" .ai.agents | ternary "" "--uninstall" }} --codex
fi
{{- end }}

{{- if has "claude" .ai.agents }}

claude plugin marketplace update
claude plugin list --json | jq -r '.[].id' | xargs -r -n1 claude plugin update -y
{{- end }}

{{- if has "codex" .ai.agents }}

codex plugin marketplace upgrade
codex plugin list --json | jq -r '.installed[].pluginId' | xargs -r -n1 codex plugin add
{{- end }}

{{- if has "copilot" .ai.agents }}

copilot plugin marketplace update
copilot plugin update --all
{{- end }}

apm update -g -y
