#!/bin/sh

set -e

{{- if or (has "rtk" .tools.mise) (has "rtk" .tools.brew) }}
{{- if has "copilot" .agents }}
rtk init -g --copilot --auto-patch
{{- end }}
{{- if has "claude" .agents }}
rtk init -g --auto-patch
{{- end }}
{{- end }}

{{- if has "codebase-memory-mcp" .tools.mise }}
codebase-memory-mcp config set auto_index true
{{- end }}

{{- if has "claude" .agents }}

claude plugin marketplace update
claude plugin list --json | jq -r '.[].id' | xargs claude plugin update
{{- end }}

{{- if has "copilot" .agents }}

copilot plugin marketplace update
copilot plugin update --all
{{- end }}

{{- if has "copilot" .agents }}

if command -v uvx >/dev/null 2>&1; then
  # temporarily use a custom branch to get user-scope instructions correctly under ~/.copilot/instructions
  uvx --from "git+https://github.com/kilianpaquier/apm@fix/copilot-user-scope-instructions" apm update -g -y
else
  echo "tool 'uv' is needed to handle copilot global instructions with APM"
fi
{{- else }}
apm update -g -y
{{- end }}
